$small: 20px;
$medium: 25px;
$big: 30px;
$large: 35px;

//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-dark: #ff7738;
$color-secondary-light: #ffb988;

$color-teritiary-light: #2998ff;
$color-teritiary-dark: #5643fa;

$white: #fff;
$grey: #777;
$grey-dark: #999;
$grey-dark3: #333;
$black: #000;

$default-font-size: 1.6rem;
