.heading-primary--main {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 5rem;
}
.heading-primary--secondary {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 4rem;
}
.heading-primary--sub {
  letter-spacing: 0.3rem;
  font-weight: 400;
  font-size: 1.6rem;
}
.paragraph {
  font-size: $default-font-size;
color: rgb(92, 85, 85);
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  @include respond(tab-port){
    text-align: center !important;
  }
}
.small-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1%;
  letter-spacing: 5px;
  font-size: 2rem;
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  
  @include respond(tab-port){
    font-size: 3rem;
  }
  @include respond(phone){
    font-size: 2.5rem;
  }
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}
.section-title {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.heading-teritiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  @include respond(tab-port){
    text-align: center;
  }
}
